# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/

# System files
.DS_Store
Thumbs.db

# Output and data
output/
data/

# Environment config
.env
*.env

# VS Code or other IDE settings
.vscode/
.idea/
